<div class="cliente-box">
  <button>Cadastrar novo cliente</button>
  <div class="input-box">
    <label>Procurar:</label>
    <input type="text" placeholder="Qual o nome do cliente?">
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Tipo de empréstimo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="assets/images/Ativo.png" alt="" style="height: 20 px; width: 20px;">
        <img src="assets/images/Inativo.png" alt="" style="height: 20 px; width: 20px;">
      </td>
      <td>Bruno Macedo</td>
      <td>111.111.111-11</td>
      <th>INSS</th>
      <td>
        <button>Editar</button>
        <button>Detalhes</button>
      </td>
      <td>
        <button>Excluir</button>
      </td>
    </tr>

  </tbody>
</table>